[tool.poetry]
name = "gsw-xarray"
version = "0.2.1"
description = "Drop in wrapper for gsw which adds CF standard name and units attributes to xarray results"
authors = ["Andrew Barna <abarna@gmail.com>", "Romain Caneill <romain.caneill@ens-lyon.org>"]
license = "BSD-3-Clause"

readme = "README.rst"

repository = "https://github.com/DocOtak/gsw-xarray"
documentation = "https://gsw-xarray.readthedocs.io/"

[tool.poetry.dependencies]
python = ">=3.8"
xarray = ">=0.20.2"
gsw = ">=3.4.0"
Sphinx = {version = ">=4.4.0", optional = true}
furo = {version = ">=2022.1.2", optional = true}

[tool.poetry.dev-dependencies]
pytest = ">=6.2.5"
Pint = ">=0.18"
pre-commit = "^2.17.0"

[tool.poetry.extras]
docs = ["Sphinx", "furo"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
